In [2]:
import pandas as pd

#Create empty data frame

a = pd.DataFrame()
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [3]:
#Convert list in data frame

b= ['Wajid','Rafay','Umaiza']

c= pd.DataFrame(b)
c

        0
0   Wajid
1   Rafay
2  Umaiza

In [4]:
c = pd.DataFrame(b,columns = ["Names"])
c

    Names
0   Wajid
1   Rafay
2  Umaiza

In [14]:
#Convert Dictionary in data frames
d = {'Names':['Wajid','Rafay','Umaiza'],'Type':['Cool','fast','Chill'],'Age':['21','15','14']}
d

{'Names': ['Wajid', 'Rafay', 'Umaiza'],
 'Type': ['Cool', 'fast', 'Chill'],
 'Age': ['21', '15', '14']}

In [15]:
e = pd.DataFrame(d)
e

    Names   Type Age
0   Wajid   Cool  21
1   Rafay   fast  15
2  Umaiza  Chill  14