In [3]:
#pip install bs4

from bs4 import BeautifulSoup # for web scraping
import requests # to send http request
import pandas as pd

In [4]:
siteUrl = 'https://en.wikipedia.org/wiki/Rice_production_in_India' #required page url

required_response = requests.get(siteUrl)

bsoup = BeautifulSoup(required_response.text, 'html.parser')

ricehtmltable = bsoup.find('table',{'class':'wikitable'})

In [5]:
print(ricehtmltable)

<table class="wikitable">
<tbody><tr>
<td>SL</td>
<td style="width: 20%;">Year</td>
<td>Area (Million Hectares)</td>
<td>Production (Million Tonnes)</td>
<td>Yield (Kg/Hectare)
</td></tr>
<tr align="right" bgcolor="#e2f2d2">
<td align="left">1.</td>
<td>1950-51</td>
<td>30.81</td>
<td>20.58</td>
<td>668
</td></tr>
<tr align="right">
<td align="left">2.</td>
<td>1951-52</td>
<td>29.83</td>
<td>21.30</td>
<td>714
</td></tr>
<tr align="right">
<td align="left">3.</td>
<td>1952-53</td>
<td>29.97</td>
<td>22.90</td>
<td>764
</td></tr>
<tr align="right">
<td align="left">4.</td>
<td>1953-54</td>
<td>31.29</td>
<td>28.21</td>
<td>902
</td></tr>
<tr align="right">
<td align="left">5.</td>
<td>1954-55</td>
<td>30.77</td>
<td>25.22</td>
<td>820
</td></tr>
<tr align="right">
<td align="left">6.</td>
<td>1955-56</td>
<td>31.52</td>
<td>27.56</td>
<td>874
</td></tr>
<tr align="right">
<td align="left">7.</td>
<td>1956-57</td>
<td>32.28</td>
<td>29.04</td>
<td>900
</td></tr>
<tr align="right">
<td align="left">8.</td>
<td>1957-58</td>
<td>32.30</td>
<td>25.53</td>
<td>790
</td></tr>
<tr align="right">
<td align="left">9.</td>
<td>1958-59</td>
<td>33.17</td>
<td>30.85</td>
<td>930
</td></tr>
<tr align="right">
<td align="left">10.</td>
<td>1959-60</td>
<td>33.82</td>
<td>31.68</td>
<td>937
</td></tr>
<tr align="right">
<td align="left">11.</td>
<td>1960-61</td>
<td>34.13</td>
<td>34.58</td>
<td>1,013
</td></tr>
<tr align="right">
<td align="left">12.</td>
<td>1961-62</td>
<td>34.69</td>
<td>35.66</td>
<td>1,028
</td></tr>
<tr align="right">
<td align="left">13.</td>
<td>1962-63</td>
<td>35.69</td>
<td>33.21</td>
<td>931
</td></tr>
<tr align="right">
<td align="left">14.</td>
<td>1963-64</td>
<td>35.81</td>
<td>37.00</td>
<td>1,033
</td></tr>
<tr align="right">
<td align="left">15.</td>
<td>1964-65</td>
<td>36.46</td>
<td>39.31</td>
<td>1,078
</td></tr>
<tr align="right">
<td align="left">16.</td>
<td>1965-66</td>
<td>35.47</td>
<td>30.59</td>
<td>862
</td></tr>
<tr align="right">
<td align="left">17.</td>
<td>1966-67</td>
<td>35.25</td>
<td>30.44</td>
<td>863
</td></tr>
<tr align="right">
<td align="left">18.</td>
<td>1967-68</td>
<td>36.44</td>
<td>37.61</td>
<td>1,032
</td></tr>
<tr align="right">
<td align="left">19.</td>
<td>1968-69</td>
<td>36.97</td>
<td>39.76</td>
<td>1,076
</td></tr>
<tr align="right">
<td align="left">20.</td>
<td>1969-70</td>
<td>37.68</td>
<td>40.43</td>
<td>1,073
</td></tr>
<tr align="right">
<td align="left">21.</td>
<td>1970-71</td>
<td>37.59</td>
<td>42.22</td>
<td>1,123
</td></tr>
<tr align="right">
<td align="left">22.</td>
<td>1971-72</td>
<td>37.76</td>
<td>43.07</td>
<td>1,141
</td></tr>
<tr align="right">
<td align="left">23.</td>
<td>1972-73</td>
<td>36.69</td>
<td>39.24</td>
<td>1,070
</td></tr>
<tr align="right">
<td align="left">24.</td>
<td>1973-74</td>
<td>38.29</td>
<td>44.05</td>
<td>1,151
</td></tr>
<tr align="right">
<td align="left">25.</td>
<td>1974-75</td>
<td>37.89</td>
<td>39.58</td>
<td>1,045
</td></tr>
<tr align="right">
<td align="left">26.</td>
<td>1975-76</td>
<td>39.48</td>
<td>48.74</td>
<td>1,235
</td></tr>
<tr align="right">
<td align="left">27.</td>
<td>1976-77</td>
<td>38.51</td>
<td>41.92</td>
<td>1,088
</td></tr>
<tr align="right">
<td align="left">28.</td>
<td>1977-78</td>
<td>40.28</td>
<td>52.67</td>
<td>1,308
</td></tr>
<tr align="right">
<td align="left">29.</td>
<td>1978-79</td>
<td>40.48</td>
<td>53.77</td>
<td>1,328
</td></tr>
<tr align="right">
<td align="left">30.</td>
<td>1979-80</td>
<td>39.42</td>
<td>42.33</td>
<td>1,074
</td></tr>
<tr align="right">
<td align="left">31.</td>
<td>1980-81</td>
<td>40.15</td>
<td>53.63</td>
<td>1,336
</td></tr>
<tr align="right">
<td align="left">32.</td>
<td>1981-82</td>
<td>40.71</td>
<td>53.25</td>
<td>1,308
</td></tr>
<tr align="right">
<td align="left">33.</td>
<td>1982-83</td>
<td>38.26</td>
<td>47.12</td>
<td>1,231
</td></tr>
<tr align="right">
<td align="left">34.</td>
<td>1983-84</td>
<td>41.24</td>
<td>60.10</td>
<td>1,457
</td></tr>
<tr align="right">
<td align="left">35.</td>
<td>1984-85</td>
<td>41.16</td>
<td>58.34</td>
<td>1,417
</td></tr>
<tr align="right">
<td align="left">36.</td>
<td>1985-86</td>
<td>41.14</td>
<td>63.83</td>
<td>1,552
</td></tr>
<tr align="right">
<td align="left">37.</td>
<td>1986-87</td>
<td>41.17</td>
<td>60.56</td>
<td>1,471
</td></tr>
<tr align="right">
<td align="left">38.</td>
<td>1987-88</td>
<td>38.81</td>
<td>56.86</td>
<td>1,465
</td></tr>
<tr align="right">
<td align="left">39.</td>
<td>1988-89</td>
<td>41.73</td>
<td>70.49</td>
<td>1,689
</td></tr>
<tr align="right">
<td align="left">40.</td>
<td>1989-90</td>
<td>42.17</td>
<td>73.57</td>
<td>1,745
</td></tr>
<tr align="right">
<td align="left">41.</td>
<td>1990-91</td>
<td>42.69</td>
<td>74.29</td>
<td>1,740
</td></tr>
<tr align="right">
<td align="left">42.</td>
<td>1991-92</td>
<td>42.65</td>
<td>74.68</td>
<td>1,751
</td></tr>
<tr align="right">
<td align="left">43.</td>
<td>1992-93</td>
<td>41.78</td>
<td>72.86</td>
<td>1,744
</td></tr>
<tr align="right">
<td align="left">44.</td>
<td>1993-94</td>
<td>42.54</td>
<td>80.30</td>
<td>1,888
</td></tr>
<tr align="right">
<td align="left">45.</td>
<td>1994-95</td>
<td>42.81</td>
<td>81.81</td>
<td>1,911
</td></tr>
<tr align="right">
<td align="left">46.</td>
<td>1995-96</td>
<td>42.84</td>
<td>76.98</td>
<td>1,797
</td></tr>
<tr align="right">
<td align="left">47.</td>
<td>1996-97</td>
<td>43.43</td>
<td>81.74</td>
<td>1,882
</td></tr>
<tr align="right">
<td align="left">48.</td>
<td>1997-98</td>
<td>43.45</td>
<td>82.53</td>
<td>1,900
</td></tr>
<tr align="right">
<td align="left">49.</td>
<td>1998-99</td>
<td>44.80</td>
<td>86.03</td>
<td>1,920
</td></tr>
<tr align="right">
<td align="left">50.</td>
<td>1999-00</td>
<td>44.97</td>
<td>89.48</td>
<td>1,990
</td></tr></tbody></table>

In [6]:
#pip install lxml #to convert html

riceTable = pd.read_html(str(ricehtmltable))
print(riceTable)

[      0        1                        2                            3  \
0    SL     Year  Area (Million Hectares)  Production (Million Tonnes)
1    1.  1950-51                    30.81                        20.58
2    2.  1951-52                    29.83                        21.30
3    3.  1952-53                    29.97                        22.90
4    4.  1953-54                    31.29                        28.21
5    5.  1954-55                    30.77                        25.22
6    6.  1955-56                    31.52                        27.56
7    7.  1956-57                    32.28                        29.04
8    8.  1957-58                    32.30                        25.53
9    9.  1958-59                    33.17                        30.85
10  10.  1959-60                    33.82                        31.68
11  11.  1960-61                    34.13                        34.58
12  12.  1961-62                    34.69                        35.66
13  13.  1962-63                    35.69                        33.21
14  14.  1963-64                    35.81                        37.00
15  15.  1964-65                    36.46                        39.31
16  16.  1965-66                    35.47                        30.59
17  17.  1966-67                    35.25                        30.44
18  18.  1967-68                    36.44                        37.61
19  19.  1968-69                    36.97                        39.76
20  20.  1969-70                    37.68                        40.43
21  21.  1970-71                    37.59                        42.22
22  22.  1971-72                    37.76                        43.07
23  23.  1972-73                    36.69                        39.24
24  24.  1973-74                    38.29                        44.05
25  25.  1974-75                    37.89                        39.58
26  26.  1975-76                    39.48                        48.74
27  27.  1976-77                    38.51                        41.92
28  28.  1977-78                    40.28                        52.67
29  29.  1978-79                    40.48                        53.77
30  30.  1979-80                    39.42                        42.33
31  31.  1980-81                    40.15                        53.63
32  32.  1981-82                    40.71                        53.25
33  33.  1982-83                    38.26                        47.12
34  34.  1983-84                    41.24                        60.10
35  35.  1984-85                    41.16                        58.34
36  36.  1985-86                    41.14                        63.83
37  37.  1986-87                    41.17                        60.56
38  38.  1987-88                    38.81                        56.86
39  39.  1988-89                    41.73                        70.49
40  40.  1989-90                    42.17                        73.57
41  41.  1990-91                    42.69                        74.29
42  42.  1991-92                    42.65                        74.68
43  43.  1992-93                    41.78                        72.86
44  44.  1993-94                    42.54                        80.30
45  45.  1994-95                    42.81                        81.81
46  46.  1995-96                    42.84                        76.98
47  47.  1996-97                    43.43                        81.74
48  48.  1997-98                    43.45                        82.53
49  49.  1998-99                    44.80                        86.03
50  50.  1999-00                    44.97                        89.48

                     4
0   Yield (Kg/Hectare)
1                  668
2                  714
3                  764
4                  902
5                  820
6                  874
7                  900
8                  790
9                  930
10                 937
11                1013
12                1028
13                 931
14                1033
15                1078
16                 862
17                 863
18                1032
19                1076
20                1073
21                1123
22                1141
23                1070
24                1151
25                1045
26                1235
27                1088
28                1308
29                1328
30                1074
31                1336
32                1308
33                1231
34                1457
35                1417
36                1552
37                1471
38                1465
39                1689
40                1745
41                1740
42                1751
43                1744
44                1888
45                1911
46                1797
47                1882
48                1900
49                1920
50                1990  ]

In [7]:
type(riceTable)

list

In [9]:
df = pd.DataFrame(riceTable[0]) #index zero means get all the data
df

,0,1,2,3,4
0,SL,Year,Area (Million Hectares),Production (Million Tonnes),Yield (Kg/Hectare)
1,1.,1950-51,30.81,20.58,668
2,2.,1951-52,29.83,21.30,714
3,3.,1952-53,29.97,22.90,764
4,4.,1953-54,31.29,28.21,902
5,5.,1954-55,30.77,25.22,820
6,6.,1955-56,31.52,27.56,874
7,7.,1956-57,32.28,29.04,900
8,8.,1957-58,32.30,25.53,790
9,9.,1958-59,33.17,30.85,930
10,10.,1959-60,33.82,31.68,937
11,11.,1960-61,34.13,34.58,1013
12,12.,1961-62,34.69,35.66,1028
13,13.,1962-63,35.69,33.21,931
14,14.,1963-64,35.81,37.00,1033
15,15.,1964-65,36.46,39.31,1078
16,16.,1965-66,35.47,30.59,862
17,17.,1966-67,35.25,30.44,863
18,18.,1967-68,36.44,37.61,1032
19,19.,1968-69,36.97,39.76,1076
20,20.,1969-70,37.68,40.43,1073
21,21.,1970-71,37.59,42.22,1123
22,22.,1971-72,37.76,43.07,1141
23,23.,1972-73,36.69,39.24,1070
24,24.,1973-74,38.29,44.05,1151
25,25.,1974-75,37.89,39.58,1045
26,26.,1975-76,39.48,48.74,1235
27,27.,1976-77,38.51,41.92,1088
28,28.,1977-78,40.28,52.67,1308
29,29.,1978-79,40.48,53.77,1328
30,30.,1979-80,39.42,42.33,1074
31,31.,1980-81,40.15,53.63,1336
32,32.,1981-82,40.71,53.25,1308
33,33.,1982-83,38.26,47.12,1231
34,34.,1983-84,41.24,60.10,1457
35,35.,1984-85,41.16,58.34,1417
36,36.,1985-86,41.14,63.83,1552
37,37.,1986-87,41.17,60.56,1471
38,38.,1987-88,38.81,56.86,1465
39,39.,1988-89,41.73,70.49,1689
40,40.,1989-90,42.17,73.57,1745
41,41.,1990-91,42.69,74.29,1740
42,42.,1991-92,42.65,74.68,1751
43,43.,1992-93,41.78,72.86,1744
44,44.,1993-94,42.54,80.30,1888
45,45.,1994-95,42.81,81.81,1911
46,46.,1995-96,42.84,76.98,1797
47,47.,1996-97,43.43,81.74,1882
48,48.,1997-98,43.45,82.53,1900
49,49.,1998-99,44.80,86.03,1920
50,50.,1999-00,44.97,89.48,1990

In [18]:

df1 = df.drop([0],axis=1)
df1

,1,2,3,4
0,Year,Area (Million Hectares),Production (Million Tonnes),Yield (Kg/Hectare)
1,1950-51,30.81,20.58,668
2,1951-52,29.83,21.30,714
3,1952-53,29.97,22.90,764
4,1953-54,31.29,28.21,902
5,1954-55,30.77,25.22,820
6,1955-56,31.52,27.56,874
7,1956-57,32.28,29.04,900
8,1957-58,32.30,25.53,790
9,1958-59,33.17,30.85,930
10,1959-60,33.82,31.68,937
11,1960-61,34.13,34.58,1013
12,1961-62,34.69,35.66,1028
13,1962-63,35.69,33.21,931
14,1963-64,35.81,37.00,1033
15,1964-65,36.46,39.31,1078
16,1965-66,35.47,30.59,862
17,1966-67,35.25,30.44,863
18,1967-68,36.44,37.61,1032
19,1968-69,36.97,39.76,1076
20,1969-70,37.68,40.43,1073
21,1970-71,37.59,42.22,1123
22,1971-72,37.76,43.07,1141
23,1972-73,36.69,39.24,1070
24,1973-74,38.29,44.05,1151
25,1974-75,37.89,39.58,1045
26,1975-76,39.48,48.74,1235
27,1976-77,38.51,41.92,1088
28,1977-78,40.28,52.67,1308
29,1978-79,40.48,53.77,1328
30,1979-80,39.42,42.33,1074
31,1980-81,40.15,53.63,1336
32,1981-82,40.71,53.25,1308
33,1982-83,38.26,47.12,1231
34,1983-84,41.24,60.10,1457
35,1984-85,41.16,58.34,1417
36,1985-86,41.14,63.83,1552
37,1986-87,41.17,60.56,1471
38,1987-88,38.81,56.86,1465
39,1988-89,41.73,70.49,1689
40,1989-90,42.17,73.57,1745
41,1990-91,42.69,74.29,1740
42,1991-92,42.65,74.68,1751
43,1992-93,41.78,72.86,1744
44,1993-94,42.54,80.30,1888
45,1994-95,42.81,81.81,1911
46,1995-96,42.84,76.98,1797
47,1996-97,43.43,81.74,1882
48,1997-98,43.45,82.53,1900
49,1998-99,44.80,86.03,1920
50,1999-00,44.97,89.48,1990