In [5]:
#List
Cars = ['Charade', 'BMW', 'G-Wagon',4500, 4.5, 2j]
print(Cars)
Cars[1]

['Charade', 'BMW', 'G-Wagon', 4500, 4.5, 2j]

'BMW'

In [16]:
print(Cars[2:4])
print(Cars[:4])
print(Cars[2:])

['G-Wagon', 4500]
['Charade', 'BMW', 'G-Wagon', 4500]
['G-Wagon', 4500, 4.5, 2j, 'S-Class']

In [10]:
Cars.append("S-Class")

In [19]:
del Cars[3]
Cars

['Charade', 'BMW', 'G-Wagon', 2j, 'S-Class']

In [25]:
Rates=[2332,23,2,332,3,23,23,]
#Join two Lists
Name= Cars + Rates
Name

['Charade', 'BMW', 'G-Wagon', 2j, 'S-Class', 2332, 23, 2, 332, 3, 23, 23]

In [27]:
print(len(Cars))
print(len(Name))

5
12

In [43]:
#get same number multiple times in a list
Numbers = [41]*4
Numbers

[41, 41, 41, 41]

In [44]:
#for multiplyingor add or subtract eacg element in list we do this
Numbers[1]=Numbers[1]*4

In [45]:
Numbers

[41, 164, 41, 41]

In [52]:
  new_list = []
for i in Numbers: # i takes list values one by one
    j= i-1
    new_list.append(j)
    
print(Numbers)
print(new_list)

[41, 164, 41, 41]
[40, 163, 40, 40]